<div>
    <button {{action "openModal"}} class="btn btn-primary" id="addDog">Add Dog</button>
    <BsModal @open={{this.showModal}} @onSubmit={{this.submit}} @onHidden={{fn (mut this.modal3) false}} as |modal|>
    <modal.header>
        <h4 class="modal-title">
            Add Dog Properties
        </h4>
    </modal.header>
    <modal.body>
        <BsForm @formLayout="horizontal" @model={{this}} @onSubmit={{this.submit}} as |form|>
            <form.element @controlType="name" @label="Name:" @property="name" />
            <form.element @controlType="breed" @label="Breed:" @property="breed" />
            <form.element @controlType="owner" @label="Owner:" @property="owner" />
            <form.element @controlType="size" @label="Size:" @property="size" />
            <form.element @controlType="description" @label="Description:" @property="description" />
            <form.element @controlType="meals" @label="Meals:" @helpText="Breakfast" @property="breakfast" />       
            <form.element @controlType="meals" @helpText="Dinner" @property="dinner" />
            <form.element @controlType="activities" @label="Activites:" @helpText="(Please seperate each activity with a comma)" @property="activities" />
            <br />
            <br />
            <form.submitButton @onClick={{this.save}}>Submit</form.submitButton>
        </BsForm>
    </modal.body>
    
    </BsModal>
</div>