<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{@dog.name}}</h5>
    <p class="card-text">
      <strong>Breed:</strong> {{@dog.breed}}<br>
      <strong>Owner:</strong> {{@dog.owner}}<br>
      <strong>Size:</strong> {{@dog.size}}<br>
      <strong>Description:</strong> {{@dog.description}}<br>
      <strong>Meals:</strong> {{@dog.meals.breakfast}}, {{@dog.meals.dinner}}<br>
      <strong>Activities:</strong>
      {{#each @dog.activities as |activity|}}
        {{activity}},
      {{/each}}
    </p>
    <div class="buttons">
      <EditDog @dog={{this.dog}} />
      <BsButton type="primary" @onClick={{(fn this.delete)}}>Delete Dog</BsButton> 
    </div>
  </div>
</div>
