<form {{on "submit" this.addDog}}>
  <label>
    Name:
    <input type="text" value={{this.name}} {{on "input" (fn this.updateAttribute "name")}}>
  </label>
  <label>
    Breed:
    <input type="text" value={{this.breed}} {{on "input" (fn this.updateAttribute "breed")}}>
  </label>
  <label>
    Owner:
    <input type="text" value={{this.owner}} {{on "input" (fn this.updateAttribute "owner")}}>
  </label>
  <label>
    size:
    <input type="text" value={{this.size}} {{on "input" (fn this.updateAttribute "size")}}>
  </label>
  <label>
    Description:
    <input type="text" value={{this.description}} {{on "input" (fn this.updateAttribute "description")}}>
  </label>
  <label>
    Meals:
    <input type="text" value={{this.meals}} {{on "input" (fn this.updateAttribute "meals")}}>
  </label>
  <label>
    activities:
    <input type="text" value={{this.activities}} {{on "input" (fn this.updateAttribute "activities")}}>
  </label>

  <button type="submit">Add Dog</button>
</form>