<br />
<br />	
<AddDog @dogs={{@dogs}} />
<div class="input-group" id="adv-search">
    <Input @value={{this.query}} type="text" class="form-control" placeholder="Search for dogs" />     
</div>

<div class="dog">
  <ul class="results">
    <div class="row"> 
    <Dogs::Sort @dogs={{@dogs}} as |sorted|>
      <Dogs::Filter @dogs={{sorted}} @query={{this.query}} as |results|>
        {{#each results as |dog|}}
        <div class="col-4">
                <Dog @dog={{dog}} />
                <br/><br/><br/>
        </div>
        {{/each}}
      </Dogs::Filter>
    </Dogs::Sort>
    </div>
  </ul>
</div>