<div class="dog">
  <label>
    <span>What dog are you looking for?</span>
    <Input @value={{this.query}} class="light" />
  </label>
  <ul class="results">
    <Dogs::Filter @dogs={{@dogs}} @query={{this.query}} as |results|>
      {{#each results as |dog|}}
        <li><Dog @dog={{dog}} /> <button type="submit" {{on "click" (fn this.deleteDog dog)}}>Delete Dog</button></li>
      {{/each}}
    </Dogs::Filter>
  </ul>
</div>