<div class="dog">
  <label>
    <span>What dog are you looking for?</span>
    <Input @value={{this.query}} class="light" />
  </label>
  <ul class="results">
    <Dogs::Sort @dogs={{@dogs}} as |sorted|>
      <Dogs::Filter @dogs={{sorted}} @query={{this.query}} as |results|>
        {{#each results as |dog|}}
        <li>
          <Dog @dog={{dog}} />
          <EditDog @dog={{dog}} />
          <BsButton type="primary" @onClick={{(fn this.deleteDog dog)}}>Delete Dog</BsButton>  
        </li>
        {{/each}}
      </Dogs::Filter>
    </Dogs::Sort>
  </ul>
</div>